.menu_container {
    background-color: #f6f6f6;
    border-radius: 60px 60px 0 0;
    padding: $padding_horizontal;
    text-align: center;
    margin-top: -150px;
    @media screen and (min-width: $laptop) {
        margin: -150px auto 0 auto;
        background-color: white;
        max-width: 2000px;
        border-radius: 60px;
    }
}
.menu_container__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding-top: 25px;
    @media screen and (min-width: $laptop) {
        align-items: center;
        margin: auto;
    }
    .title_menu {
        margin: 0;
    }
}
.container_img_page_menu{
    @media screen and (min-width: $desktop-large) {
        max-width: 2040px;
        margin: auto;
    }
}

.menu_container__card {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    @media screen and (min-width: $laptop) {
        align-items: center;
    }
}
.menu_container__dish {
    display: flex;
    flex-direction: column;
    text-align: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 120px;
    margin-right: 35px;
    z-index: 0;
}
