body {
    margin: $margin_null;
    @media screen and (min-width: $desktop-large) {
        background-color: $color_background;
    }
}
.container {
    padding: $padding_vertical $padding_horizontal;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
}
