.restaurant__container {
    background-color: $color_background;
    .restaurant_container_card__img {
        margin: 30px auto;
        background-color: white;
        border-radius: 30px;
        position: relative;
    }
    .new {
        background-color: #99e2d0;
        padding: 5px 15px;
        position: absolute;
        right: 24px;
        top: 30px;
        font-weight: $font_bold;
        color: #008766;
    }
    .restaurant_container_card__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px;
    }
    .restaurant_card__description {
        display: flex;
        flex-direction: column;
    }
}
