.restaurant__container {
    background-color: $color_background;
    @media screen and (min-width: $desktop-large) {
        max-width: 2000px;
        margin: auto;
        background-color: white;
        border-radius: 0px 0px 30px 30px;
    }
    .restaurant_container__card {
        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: center;
        }
    }
    .restaurant_container_card__img {
        margin: 30px auto;
        background-color: white;
        border-radius: 30px;
        position: relative;
        @media screen and (min-width: $tablet) {
            width: 90%;
        }
        @media screen and (min-width: $desktop-large) {
            width: 90%;
            box-shadow: 0px 2px 2px #aaa;
        }
        &:hover {
            box-shadow: 0px 0px 5px #aaa;
            transition: all 250ms ease-in-out;
            transform: scale(1.02);
        }
    }
    .new {
        background-color: #99e2d0;
        padding: 5px 15px;
        position: absolute;
        right: 24px;
        top: 30px;
        font-weight: $font_bold;
        color: #008766;
    }
    .restaurant_container_card__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px;
    }
    .restaurant_card__description {
        display: flex;
        flex-direction: column;
    }
}
