// media queries
$tablet: 768px;
$laptop: 1024px;
$desktop: 1224px;
$desktop-large: 1824px;

// graphic identity
$color_primary: hsl(267,66%,60%);
$color_secondary: hsl(317,100%,74%);
$color_tertiary: hsl(165,56%,74%);
$color_background: hsl(0,0%,96%);
$color_icon: linear-gradient(360deg, $color_secondary, $color_primary);
$font_title: "Shrikhand";
$font_text: "Roboto";
$font_size_small: 16px;
$font_size_medium: 20px;
$font_size_high: 24px;
$font_size_small_tablet: 22px;
$font_size_medium_tablet: 26px;
$font_size_high_tablet: 38px;
$font_bold: bold;
$font_skinny: 300;

// box sizing
$padding_horizontal: 20px;
$padding_vertical: 40px;
$margin_null: 0;

// keyframes
$progress-bar-duration : 1000ms;
$progress-bar-delay: 150ms;
$progress-delay: $progress-bar-duration + $progress-bar-delay*2;