// media queries
$tablet: 768px;
$laptop: 1024px;
$desktop: 1224px;
$desktop-large: 1824px;

// graphic identity
$color_primary: #9356dc;
$color_secondary: #ff79da;
$color_tertiary: #99e2d0;
$color_background: #f6f6f6;
$font_title: "Shrikhand";
$font_text: "Roboto";
$font_size_small: 16px;
$font_size_medium: 20px;
$font_size_high: 24px;
$font_size_small_tablet: 22px;
$font_size_medium_tablet: 26px;
$font_size_high_tablet: 38px;
$font_bold: bold;
$font_skinny: 300;

// box sizing
$padding_horizontal: 20px;
$padding_vertical: 40px;
$margin_null: 0;
