// media queries
$tablet: 768px;
$laptop: 1024px;
$desktop: 1224px;
$desktop-large: 1824px;

// graphic identity
$color_primary: rgba($color: #9256DC, $alpha: 1.0);
$color_secondary: rgba($color: #FF7AD9, $alpha: 1.0);
$color_tertiary: rgba($color: #98E2CF, $alpha: 1.0);
$color_background: rgba($color: #f5f5f5, $alpha: 1.0);
$color_icon: linear-gradient(360deg, $color_secondary, $color_primary);
$font_title: "Shrikhand";
$font_text: "Roboto";
$font_size_small: 16px;
$font_size_medium: 20px;
$font_size_high: 24px;
$font_bold: bold;
$font_skinny: 300;

// box sizing
$padding_horizontal: 20px;
$padding_vertical: 40px;
$margin_null: 0;

// keyframes
$progress-bar-duration : 1000ms;
$progress-bar-delay: 150ms;
$progress-delay: $progress-bar-duration + $progress-bar-delay*2;